<h1> Hail to the Browncoats, who aim to misbehave!</h1>
<p>Pull up a seat and sit a spell. Jayne may be in is bunk, but everyone else is ready for adventure!.</p>
<img src="/img/fans.jpg" alt="a picture of Firefly party supplies" />
<p>Calling all Firefly fans!
  This <a href="http://www.instructables.com/id/DIY-Firefly-Party/">
  instructable</a> gives you some ideas on how to create a Firefly-themed party.
  Complete with:
  <ul>
    <li>Cake</li>
    <li>Ice Planets</li>
    <li>Inara's Shuttle</li>
    <li>Kaylee's Room</li>
    <li>Cockpit</li>
    <li>and more!</li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>

<h1>Who Doesn't want this hat? <img src='/img/fans1.jpg' alt='A picture of Firefly Jayne hat'
  title="Like a leaf in the wind" /></h1>
<p>From <a href="http://www.thinkgeek.com/product/f108/">Think Geek</a>: any of you told us you wanted this hat. Many of you gave up on us and already
  have this hat. Maybe you made it yourself or begged a fiberly-talented friend. But there are those
  of us not burdened with an overabundance of knitting skills (or crafty friends). What? There were
  guns to clean, beagles to smuggle, people to intimidate. This hat is for folks like us, to keep us
  warm in our travels.</p>
