<div class="row">
  <div class="col-md-8">
    <h1>The Crew</h1>
    <!-- <p></p> -->
      <dl class="dl-horizontal">
        <img src="/img/capt.jpg" alt="The Captain" class="img-circle" display:inline>
        <dt>Nathan Fillion </dt>
        <dd>Capt Malcolm Reynolds - Malcolm 'Mal' Reynolds was the captain of the Firefly-class
          transport ship Serenity. During the Unification War, Mal fought for the Independents and
          was the highest ranking Browncoat to participate in and survive the Battle of Serenity.</dd>
        <img src="/img/gina2.jpg" alt="Zoe" class="img-circle">
        <dt>Gina Torres </dt>
        <dd>Zoë - Zoë Alleyne Washburne was a Browncoat born February 15, 2484, "Vesselside".
          Zoë served in the Unification War under SergeantMalcolm Reynolds for two and a half years,
          and was one of the few to survive the Battle of Serenity Valley. Zoë continued under his
          command on his spaceship, Serenity, as first mate, and was the wife of pilot Hoban Washburne.
          A loyal second-in-command and a tough, deadly fighter, Zoë was the only member of Mal's crew
          to regularly call him "sir", while taking orders as if receiving them from a superior
          officer.</dd>
        <img src="/img/wash2.jpg" alt="Wash" class="img-circle">
        <dt>Alan Tudyk </dt>
        <dd>Hoban "Wash" Washburne - "Wash" was the pilot of Serenity, a smuggling ship captained by
          Malcolm Reynolds. He was married to the ship's first mate, Zoë Alleyne Washburne.</dd>
        <dt>Morena Baccarin </dt>
        <dd>Inara Serra</dd>
        <dt>Jewel Staite </dt>
        <dd>Kaylee Frye</dd>
        <dt>Adam Baldwin </dt>
        <dd>Jayne Cobb</dd>
        <dt>Summer Glau </dt>
        <dd>River Tam</dd>
        <dt>Sean Maher </dt>
        <dd>Simon Tam</dd>
        <dt>Ron Glass </dt>
        <dd>Derrial Book</dd>
      </dl>
</div>

<div class="col-md-4">
  <h1>Where Are They Now?</h1>
    <p>Many crew members spend their time greeting fans at conferences around the world.
      Will they come to your town? Here's what's happening in <%= @month %> :</p>
      <h3>Worldwide cons this month:</h3>
      <ul>
        <li>12-15 Hong Kong Toys & Games Fair 2015Hong Kong, China</li>
        <li>13-14 Pocket Gamer Connects 2015London, United Kingdom</li>
        <li>20-21 Next-Level Indie ForumLondon, United Kingdom</li>
        <li>20-21 MGF London 2015London, United Kingdom</li>
        <li>22-25 Central European Games Conference (CEGC) 2015Vienna, Austria</li>
        <li>23-26 Music and Gaming Festival (MAGFest) 13Fort Washington, Maryland</li>
        <li>23-25 PAX SouthSan Antonio, Texas</li>
        <li>23-25 Global Game Jam 2015Worldwide</li>
        <li>28th  GameDevHacker: Past Trends and Future BetsNew York</li>
        <li>28-1  Taipei Game Show 2015Taipei, Taiwan</li>
        <li>29-31 BeatCon Music & Games Festival 2015</li>
      </ul>

    <h1><em>Featured Cast Member</em></h1>
    <p>This month we look at <%= @member %></p>
    <img src="/img/summer.jpeg" alt="Summer cleans house as River Tam" class="img-thumbnail" />
    <p>Summer is a native of San Antonio, Texas. She's been a ballerina most of her life.
      Her debut was in various commercials and a guest appearance on the WB's Angel (1999).
      She has gone on to star on the TV series Firefly (2002) as well as its follow-up movie Serenity
      (2005) and the TV series Terminator: The Sarah Connor Chronicles (2008).</p>
</div>
