
  <h1>Welcome Aboard the Serenity!</h1>
  <p class="lead"><em>You can't take the sky away from us.</em>
    <img src="/img/logosmall.jpg" alt="Firefly logo" class="img-rounded"/></p>
  <h2>A message from the Captain:</h2>
  <h3>Dear Shipmates,</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
     sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Stay shiny,</p>
  <p>Captain Mal</p>
  <p></ br></p>

  <p>By the way, here's <a href="/browncoats">what the fans are up to these days.</a></p>
  <p>And here's where to keep track of <a href="/cast">the Serenity crew!</a></p>
  <p>Feeling adventurous? Running from the Reavers?  Why don't you <a href="/fan_form"> join us?</p>
